body {
    background-color: #1e1e23;
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
}
header h1{
    text-decoration: underline;
}
header a {
    margin: 100px;
    color: whitesmoke;
}
.contenu h2 {
    text-align: center;
    margin-top: 75px;
}
.contenu p {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 75px;
}
.article {
    color: whitesmoke;
    text-decoration: underline;
}